/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 2
   Case Problem 3
   
   Civil War History Style Sheet
   Author: Nicole Garay
   Date:   9/12/19
   
   Filename: cw_styles.css

*/
@charset "utf-8";
@import "style.css";

/* Structural Styles */

html{
   background-color:rgb(151, 151, 151);
}
body{
   background-color:rgb(180, 180, 223);
   font-family: Verdana, Geneva, sans-serif;
}


/* Body Header Styles */

h1, h2{}


/* Navigation Styles */




/* Outline Styles */




/* Section Styles */




/* Article Styles */




/* Aside Styles */

